:root {
    --grayish-blue: rgb(35, 41, 59);
    --dark-border-color: rgb(13, 1, 20);
    --bright-grey: rgb(200,200,200);
    --section-header-color: rgb(41, 17, 61);
    --link-hover-color: rgba(166, 226, 1, 0.45);
}

.zbe-label {
    background-color: var(--bright-grey);
    color: var(--grayish-blue)
}

header {
    background-image: -moz-linear-gradient(55deg, var(--grayish-blue) 65%, var(--dark-border-color));
}

h1 {
    font-size: 400%;
    color: var(--grayish-blue);
    background-color: var(--bright-grey);
    padding: var(--name-border-sides);
    border-style: none;
    border-width: var(--name-border-sides);
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    margin-top: auto;
    justify-content: space-evenly;
}

header nav a {
    padding: 2%;
    border-bottom: solid var(--bright-grey) 0.25em;
    color: var(--bright-grey);
    font-size: 150%;
    margin: 3% 10% .5% 0%;
    text-decoration: none;
}

main {
    padding-bottom: 2%;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    max-width: fit-content;
    font-size: 350%;
    color: var(--section-header-color);
    border-bottom: solid var(--dark-border-color);
}

footer {
    position: fixed;
    bottom:0;
    width:100%;
    background-color: var(--dark-border-color);
}

footer nav {
    display: flex;
    justify-content: center;
    padding: 1% 0% 1%;
}

footer nav a {
    margin-left: 4%;
}

.about-paragraph {
    max-width: 33%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem
}

.bottem-el {
    padding-bottom: 500%;
}

.card-section {
    margin-left: 35%;
}

.resume-list {
    margin-top: 5%;
    background-image: -moz-radial-gradient(var(--grayish-blue), var(--section-header-color));
    color: var(--bright-grey);
    border-radius: 8px;
    max-width: fit-content;
    padding: 2% 3%;
    border: solid var(--dark-border-color) 2%;
    box-shadow: -20px 10px;
}

.resume-list h3 {
    font-size: 250%;
}

.resume-list ul {
    font-size: 150%;
}

.resume-list ul ul {
    font-size: 100%;
}

.flexbox {
    display: flex;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 3% 2.5%;
    border-style:groove;
    border-radius: 4px;
}

#submit-btn {
    margin-top: 3%;
}

.required {
    color: red;
}